/*resets*/



/* behaviours */
.contenedor{
    max: width 900px;
    background: pink;
}
.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
    min-height: 10px;
    min-width: 10px;
}